.container{
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
    background-color: blueviolet;
  }
  

.guessNumber {
    width: 120px; /* Set width to fit 2 digits */
    height: 120px; /* Set height to create a circle */
    border: none; /* Remove border */
    outline: none; /* Remove outline */
    text-align: center; /* Center text horizontally */
    font-size: 30px; /* Set font size */
    font-weight: bold; /* Set font weight */
    line-height: 120px; /* Set line height to vertically center text */
    border-radius: 50%; /* Create a circle shape */
}

.gameDiv {
    display: relative;
    text-align: center;
}

.playButton {
    position: absolute;
    right: 50px;
}

.guessesP, .tipP {
    color: #fff;
}