.container{
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
    background-color: blueviolet;
  }
  

.guessNumber {
    width: 120px;
    height: 120px; 
    border: none;
    outline: none; 
    text-align: center; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 120px; 
    border-radius: 50%; 
}

.gameDiv {
    display: relative;
    text-align: center;
    margin-top: 20px;

}

.playDiv {
    width: 100%;
    height: 20px;
    text-align: right;
}

.playButton {
    background-color: #fff;
    margin: 10px 20px 0 0;
}

.guessesP, .tipP {
    color: #fff;

}
.tipP {
    height: 55px;
}

p {
    font-size: 18px;
}