.container{
    width: min(100% - 60px, 1080px);
    margin-inline: auto;
    background-color: blueviolet;
  }
  

.guessNumber {
    width: 120px;
    height: 120px; 
    border: none;
    outline: none; 
    text-align: center; 
    font-size: 30px; 
    font-weight: bold; 
    line-height: 120px; 
    border-radius: 50%; 
}

.gameDiv {
    display: relative;
    text-align: center;
}

.playButton {
    position: absolute;
    right: 50px;
}

.guessesP, .tipP {
    color: #fff;
}